/* Debes pegar todo el código en main.css */
* {
  font-family: sans-serif;
  font-weight: lighter;
}
body {
  background-color: Cornsilk;
  color: Grey;
}
button {
  width: 300px;
  height: 80px;
  background-color: DarkSalmon ;
  border: none; 
  font-size: 1em;
  color: white;
}